* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


:root {
    --color-bg: #121425;
    --color-card:#212542;
    --color-card-2: #272c52;
    --color-font-1: #00ff88;
    --color-font-2: #40916c;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background:var(--color-bg);
    display: flex;
    justify-content:center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #fff;
    font-size: 2.6vw;
    margin: 20px;
}

.left-login > h1 > strong {
    color: var(--color-font-1);
}

.left-login-image {
    width: 32vw;
}


.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--color-card);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.342);
    transition: 0.3s ease;
}

.card-login:hover {
    scale: 1.05;
    transition: 1s;
}

.card-login > h1 {
    color: var(--color-font-1);
    font-size: 15pt;
    font-weight: 700;
    letter-spacing: 2px;
}

.card-login > p {
    font-size: 10pt;
    color: #fff;
}

.card-login > p > a {
    text-decoration: none;
    color: #00ff88;
}

.card-login > p > a:hover {
    text-decoration: none;
    color: var(--color-font-2);
}


.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color:var(--color-card-2);
    color: #fff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.342);
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #fff;
    font-weight: 600;
    margin-bottom: 6px;
}

.textfield > input::placeholder {
    color: #cccccc;
}

.button-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 9px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--color-bg);
    background: var(--color-font-1);
    cursor: pointer;
    transition: 0.3s ease;
}

.button-login:hover{
    box-shadow: 0px 10px 40px -12px var(--color-font-2);
    transition: 1s;
}

@media only screen and (max-width:950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width:600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login > img {
        width: 70vw;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 80%;
    }
}
